<!DOCTYPE html>
<html>

  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" src="css/codemirror.css">
    <script src="js/codemirror.js"></script>
    <script src="js/mode/htmlmixed/htmlmixed.js"></script>
    <script src="js/mode/css/css.js"></script>
    <script src="js/mode/javascript/javascript.js"></script>
  </head>

  <body style="background:#eee;">

  <div style="width:50%;">
  
    <textarea id="html" name="html" style="height:300px; width:300px;"></textarea>
    <textarea id="css" name="css" style="height:300px; width:300px;"></textarea>
    <textarea id="js" name="js" style="height:300px; width:300px;"></textarea>

    <form id="preview-form">
    <li id="preview-form-submit" style="cursor:pointer;">Submit</li>
    <textarea class="codemirror-textarea" name="preview-html" id="preview-form-submit" style="height:300px; width:300px;"></textarea>
    </form>
  </div>

    <script>
      $(document).on('click','#preview-form-submit', function () {
        alert('boom');
        var html = $('#html').val();
        $('#preview-html').html();
      });
      var editor = CodeMirror(document.getElementById("html"), {
        mode: "htmlmixed",
        styleActiveLine: true,
        lineNumbers: true,
        lineWrapping: true
      });
      var editor = CodeMirror(document.getElementById("css"), {
        mode: "css",
        styleActiveLine: true,
        lineNumbers: true,
        lineWrapping: true
      });
      var editor = CodeMirror(document.getElementById("javascript"), {
        mode: "javascript",
        styleActiveLine: true,
        lineNumbers: true,
        lineWrapping: true
      });
    </script>
  </body>


</html>