<!DOCTYPE html>
<html>
<!--<html>-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
  <title>EVO : Playground</title>
  <link href="css/cloudEditCustom.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/playground.css">
<!--   <link href="css/contextMenu.min.css" rel="stylesheet"> -->
</head>
<style>

.preview {
  width: 100%;
  position: relative;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 37.5rem;
  top: 100%;
}


/* all the thing I need for overriding the plugin */
  .window {
    height: calc(100% - 33px);
    margin-top: 0;
    background: #161616!important;
    border: none;
    border-radius: 0;
  }
  .preview {
    margin: 0;
  }
</style>
<body class="playground">
  <section class="boxes" style="padding:0;">
    <div class="row windowGroup box-edit">
      <div class="column-33 box">
        <div class="bar">HTML</div>
        <div class="window html code-block">
          <pre id="html"><%- include('html/html.ejs') %></pre>
        </div>
      </div>
      <div class="column-33 box">
        <div class="bar">CSS</div>
        <div class="window css code-block">
          <pre id="css"><%- include('css/css.ejs') %></pre>
        </div>
      </div>
      <div class="column-33 box">
        <div class="bar">JS</div>
        <div class="window js code-block">
          <pre id="js"><%- include('js/js.ejs') %></pre>
        </div>
      </div>
    </div>

    <div class="row console" style="display:none;">
      <pre id="console"></pre>
      <span class="windowLabel" id="consoleLabel">Console</span>
    </div>
<!--      <div class="row btnGroup">
      <div class="column-33 toggleGroup">
        <button class="btn togglePane" id="htmlToggle" data-editor="html" title="Toggle HTML">HTML</button>
        <button class="btn togglePane" id="cssToggle" data-editor="css" title="Toggle CSS">CSS</button>
        <button class="btn togglePane" id="jsToggle" data-editor="js" title="Toggle JS">JavaScript</button> -->
<!--         <button class="btn" id="consoleToggle" title="Toggle JavaScript Console">Console</button> -->
<!--         <button class="btn" id="liveEdit" title="Toggle Live Edit Mode">LiveEdit</button>
      </div>
      <div class="column-33"> -->
<!--         <h1>CloudEdit: HTML Live Editor</h1> -->
<!--       </div>
        <div class="column-33 btnGroup last">
        <button class="btn" id="previewToggle" title="Enlarge Preview">Preview</button>
        <button class="btn" id="clear" title="Click to clear all panes">Clear</button>
        <button class="btn" id="download" title="Download to computer">Download</button>
        <button class="btn" id="save" title="Save to localStorage">Save</button>
        <button class="btn" id="load" title="Load from localStorage">Load</button>
        <button class="btn" id="run" title="Run...">Run</button>
      </div>
    </div>  -->
    <div class="box-output">

      <div class="html-container results"></div>

      <div class="preview results">
        <iframe id="iframe" name="CloudEdit"
          sandbox="allow-modals allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-forms"
          allowtransparency="true">
        </iframe>
      </div>

    </div>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/ace/ext-emmet.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/ace/emmet.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/jquery.ui.position.min.js" type="text/javascript" charset="utf-8"></script>
<!--   <script src="js/contextMenu.min.js" type="text/javascript" charset="utf-8"></script> -->
  <script src="js/jqconsole.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/cloudEdit.js" type="text/javascript" charset="utf-8"></script>
</body>
<script>

  // $(document).on('load',function() {
  //   $('#liveEdit').trigger('click');
  //   alert('ran');
  // });
  $(document).ready(function() {
    $('.html-container').load('/template', function() {
      html = $('.html-container').html();
    });
  });
</script>
</html>

<!--
    editor1.getSession().setMode("ace/mode/html");
    editor2.getSession().setMode("ace/mode/css");
    editor3.getSession().setMode("ace/mode/js"); -->
